/*RESPONSIVE*/

@media only screen and (max-width: 1211px) {
    .header-section .logo a {
        font-size: 22px;
    }

    .header-section .primary-nav ul li a {
        font-size: 14px;
    }

    .header-section .nav-bar {
        font-size: 18px;
    }

    .hero .display-heading {
        font-size: 33px;
    }

    .hero .intro-text p {
        font-size: 14px;
    }

    .hero .intro-text .cta-buttons .btn-work {
        font-size: 14px;

    }

    .hero .intro-text .cta-buttons .link-underline {
        font-size: 15px;
    }

    .about .intro-content h3 {
        font-size: 28px;
    }

    .about .personal-quote p {
        font-size: 25px;
    }

    .resume-section .resume-content .intro {
        font-size: 28px;
    }

    .resume-section .resume-content .intro-descrip {
        font-size: 15px;
    }

    .resume-section .expreince-grid .item-header .position h4 {
        font-size: 18px;
    }

    .resume-section .expreince-grid .item-header .position h5 {
        font-size: 15px;
    }

    .resume-section .expreince-grid .expreince-item .item-content {
        font-size: 14px;
    }

    .portfolio .resume-text h2 {
        font-size: 28px;
    }

    .portfolio .portfolio-card .portfolio-title {
        font-size: 16px;
    }

    .services .services-text h2 {
        font-size: 28px;
    }

    .services .service-blog .service-icon i {
        font-size: 26px;
        padding: 10px 20px;
    }

    .services .service-blog h3 a {
        font-size: 22px;
    }

    .services .service-blog p {
        font-size: 14px;
    }

    .services .service-blog .service-link a span {
        font-size: 14px;
    }

    .contact .contact-text h2 {
        font-size: 28px;
    }

    .contact-form .form-intro-text h3 {
        font-size: 28px;
    }

    .contact-form .form-intro-text p {
        font-size: 16px;
    }

    .contact-sidebar .contact-header h3 {
        font-size: 25px;
    }

    .contact-sidebar .contact-header p {
        font-size: 15px;
    }

    .contact-form .send-button {
        padding: 16px;
    }

    .footer .copyright-text h2 {
        font-size: 14px;
    }

    .footer .credits p {
        font-size: 14px;
    }

    .footer .social-links-connect a i {
        font-size: 15px;
    }

}

/* 992 dekhbi */
@media only screen and (max-width:1024px) {
    .intro-text h1 {
        font-size: 14px;
    }

    .hero .display-heading {
        font-size: 20px;
    }

    .hero {
        padding: 20px 0px;
    }

    .navbar-toggler-icon {
        width: 16px;
        height: 30px;
    }

    .hero .meta .meta-item span {
        font-size: 14px;
    }

    .hero .intro-text .cta-buttons .btn-work {
        font-size: 13px;
    }

    .about {
        padding: 10px 0px;
    }

    .about .facts-wrap {
        margin-top: 40px;
    }

    .about .section-title p {
        margin-bottom: 50px;
    }

    .about .intro-content h2 {
        text-align: center;
    }

    .about .intro-content h3 {
        font-size: 20px;
        text-align: center;
    }

    .about .intro-content p {
        font-size: 13px;
        line-height: 1.4;
        text-align: center;
    }

    .about .intro-content .content-text {
        font-size: 14px;
        color: #201e1e;
        font-weight: 400;
        line-height: 1.4;
    }

    .intro-content .cta-group .btn-ghost {
        padding: 14px 15px;
        font-size: 14px;
        gap: 5px;
    }

    .intro-content .cta-group .link-underline {
        font-size: 14px;
    }

    .hero .intro-text .cta-buttons .link-underline {
        font-size: 13px;
    }

    .about .skills-wrap .skill-item {
        padding: 35px 15px;
        margin: 15px 0px;
        text-align: center;
        margin: 20px 0px;
    }

    .about .personal-quote p {
        font-size: 15px;
    }

    .skill .section-title h2 {
        font-size: 26px;
        margin-top: 30px;
    }

    .skill .section-title p {
        margin-bottom: 30px;
    }

    .skill-block {
        margin-bottom: 30px;
    }


    .skill .section-title p {
        font-size: 13px;
    }

    .skill .note p {
        font-size: 13px;
        margin: 50px 0;
    }

    .nav-item .nav-link {
        display: none;
    }

    .skill {
        padding: 0px;
    }

    .portfolio .resume-text p {
        margin-bottom: 0px;
    }

    .contact .contact-text p {
        margin-bottom: 0px;
    }

    .contact-form .form-intro-text h3 {
        font-size: 24px;
        text-align: center;
    }

    .contact-form .form-intro-text p {
        font-size: 15px;
        text-align: center;
    }

    .contact-form .send-button {
        font-size: 10px;
    }

    .contact-sidebar {
        padding: 30px 22px;
        margin: 35px 0px 0px 0px;
    }

    .contact-sidebar .contact-header h3 {
        font-size: 22px;
        text-align: center;
    }

    .contact-sidebar .contact-header p {
        font-size: 14px;
        text-align: center;
    }

    .contact-sidebar .contact-process .contact-text p {
        font-size: 13px;
    }

    .contact-sidebar .contact-process .contact-text h3 {
        font-size: 13px;
    }

    .contact {
        padding: 0px;
    }

    .footer {
        background-color: #ffffff;
        padding: 22px;
    }

    .footer .copyright-text h2 {
        font-size: 13px;
    }

    .footer .social-links-connect a i {
        font-size: 14px;
        padding: 5px 9px;
    }

}

/* 901 dekhbi */
@media only screen and (max-width:991px) {
    .intro-text h1 {
        font-size: 14px;
    }

    .hero .display-heading {
        font-size: 20px;
    }

    .hero {
        padding: 20px 0px;
    }

    .navbar-toggler-icon {
        width: 16px;
        height: 30px;
    }

    .hero .meta .meta-item span {
        font-size: 14px;
    }

    .hero .intro-text .cta-buttons .btn-work {
        font-size: 13px;
    }

    .about {
        padding: 10px 0px;
    }

    .about .facts-wrap {
        margin-top: 40px;
    }

    .about .section-title p {
        margin-bottom: 50px;
    }

    .about .intro-content h2 {
        text-align: center;
    }

    .about .intro-content h3 {
        font-size: 20px;
        text-align: center;
    }

    .about .intro-content p {
        font-size: 13px;
        line-height: 1.4;
        text-align: center;
    }

    .about .intro-content .content-text {
        font-size: 14px;
        color: #201e1e;
        font-weight: 400;
        line-height: 1.4;
    }

    .intro-content .cta-group .btn-ghost {
        padding: 14px 15px;
        font-size: 14px;
        gap: 5px;
    }

    .intro-content .cta-group .link-underline {
        font-size: 14px;
    }

    .hero .intro-text .cta-buttons .link-underline {
        font-size: 13px;
    }

    .about .skills-wrap .skill-item {
        padding: 35px 15px;
        margin: 15px 0px;
        text-align: center;
        margin: 20px 0px;
    }

    .about .personal-quote p {
        font-size: 15px;
    }

    .skill .section-title h2 {
        font-size: 26px;
        margin-top: 30px;
    }

    .skill .section-title p {
        margin-bottom: 30px;
    }

    .skill-block {
        margin-bottom: 30px;
    }


    .skill .section-title p {
        font-size: 13px;
    }

    .skill .note p {
        font-size: 13px;
        margin: 50px 0;
    }

    .nav-item .nav-link {
        display: none;
    }

    .skill {
        padding: 0px;
    }

    .portfolio .resume-text p {
        margin-bottom: 0px;
    }

    .contact .contact-text p {
        margin-bottom: 0px;
    }

    .contact-form .form-intro-text h3 {
        font-size: 24px;
        text-align: center;
    }

    .contact-form .form-intro-text p {
        font-size: 15px;
        text-align: center;
    }

    .contact-form .send-button {
        font-size: 10px;
    }

    .contact-sidebar {
        padding: 30px 22px;
        margin: 35px 0px 0px 0px;
    }

    .contact-sidebar .contact-header h3 {
        font-size: 22px;
        text-align: center;
    }

    .contact-sidebar .contact-header p {
        font-size: 14px;
        text-align: center;
    }

    .contact-sidebar .contact-process .contact-text p {
        font-size: 13px;
    }

    .contact-sidebar .contact-process .contact-text h3 {
        font-size: 13px;
    }

    .contact {
        padding: 0px;
    }

    .footer {
        background-color: #ffffff;
        padding: 22px;
    }

    .footer .copyright-text h2 {
        font-size: 13px;
    }

    .footer .social-links-connect a i {
        font-size: 14px;
        padding: 5px 9px;
    }


}




/* 768 dekhbi Image or Text r Majhe gap hocchee */
@media only screen and (max-width:900px) {
    .intro-text h1 {
        font-size: 14px;
    }

    .hero .display-heading {
        font-size: 20px;
    }

    .hero {
        padding: 20px 0px;
    }

    .navbar-toggler-icon {
        width: 16px;
        height: 30px;
    }

    .hero .meta .meta-item span {
        font-size: 14px;
    }

    .hero .intro-text .cta-buttons .btn-work {
        font-size: 13px;
    }

    .about {
        padding: 10px 0px;
    }

    .about .facts-wrap {
        margin-top: 40px;
    }

    .about .section-title p {
        margin-bottom: 50px;
    }

    .about .intro-content h2 {
        text-align: center;
    }

    .about .intro-content h3 {
        font-size: 20px;
        text-align: center;
    }

    .about .intro-content p {
        font-size: 13px;
        line-height: 1.4;
        text-align: center;
    }

    .about .intro-content .content-text {
        font-size: 14px;
        color: #201e1e;
        font-weight: 400;
        line-height: 1.4;
    }

    .intro-content .cta-group .btn-ghost {
        padding: 14px 15px;
        font-size: 14px;
        gap: 5px;
    }

    .intro-content .cta-group .link-underline {
        font-size: 14px;
    }

    .hero .intro-text .cta-buttons .link-underline {
        font-size: 13px;
    }

    .about .skills-wrap .skill-item {
        padding: 35px 15px;
        margin: 15px 0px;
        text-align: center;
        margin: 20px 0px;
    }

    .about .personal-quote p {
        font-size: 15px;
    }

    .skill .section-title h2 {
        font-size: 26px;
        margin-top: 30px;
    }

    .skill .section-title p {
        margin-bottom: 30px;
    }

    .skill-block {
        margin-bottom: 30px;
    }


    .skill .section-title p {
        font-size: 13px;
    }

    .skill .note p {
        font-size: 13px;
        margin: 50px 0;
    }

    .nav-item .nav-link {
        display: none;
    }

    .skill {
        padding: 0px;
    }

    .portfolio .resume-text p {
        margin-bottom: 0px;
    }

    .contact .contact-text p {
        margin-bottom: 0px;
    }

    .contact-form .form-intro-text h3 {
        font-size: 24px;
        text-align: center;
    }

    .contact-form .form-intro-text p {
        font-size: 15px;
        text-align: center;
    }

    .contact-form .send-button {
        font-size: 10px;
    }

    .contact-sidebar {
        padding: 30px 22px;
        margin: 35px 0px 0px 0px;
    }

    .contact-sidebar .contact-header h3 {
        font-size: 22px;
        text-align: center;
    }

    .contact-sidebar .contact-header p {
        font-size: 14px;
        text-align: center;
    }

    .contact-sidebar .contact-process .contact-text p {
        font-size: 13px;
    }

    .contact-sidebar .contact-process .contact-text h3 {
        font-size: 13px;
    }

    .contact {
        padding: 0px;
    }

    .footer {
        background-color: #ffffff;
        padding: 22px;
    }

    .footer .copyright-text h2 {
        font-size: 13px;
    }

    .footer .social-links-connect a i {
        font-size: 14px;
        padding: 5px 9px;
    }

}





/* 601 dekhbi */
@media only screen and (max-width:767px) {
    .intro-text h1 {
        font-size: 14px;
    }

    .hero .display-heading {
        font-size: 20px;
    }

    .hero {
        padding: 20px 0px;
    }

    .navbar-toggler-icon {
        width: 16px;
        height: 30px;
    }

    .hero .meta .meta-item span {
        font-size: 14px;
    }

    .hero .intro-text .cta-buttons .btn-work {
        font-size: 13px;
    }

    .about {
        padding: 10px 0px;
    }

    .about .facts-wrap {
        margin-top: 40px;
    }

    .about .section-title p {
        margin-bottom: 50px;
    }

    .about .intro-content h2 {
        text-align: center;
    }

    .about .intro-content h3 {
        font-size: 20px;
        text-align: center;
    }

    .about .intro-content p {
        font-size: 13px;
        line-height: 1.4;
        text-align: center;
    }

    .about .intro-content .content-text {
        font-size: 14px;
        color: #201e1e;
        font-weight: 400;
        line-height: 1.4;
    }

    .intro-content .cta-group .btn-ghost {
        padding: 14px 15px;
        font-size: 14px;
        gap: 5px;
    }

    .intro-content .cta-group .link-underline {
        font-size: 14px;
    }

    .hero .intro-text .cta-buttons .link-underline {
        font-size: 13px;
    }

    .about .skills-wrap .skill-item {
        padding: 35px 15px;
        margin: 15px 0px;
        text-align: center;
        margin: 20px 0px;
    }

    .about .personal-quote p {
        font-size: 15px;
    }

    .skill .section-title h2 {
        font-size: 26px;
        margin-top: 30px;
    }

    .skill .section-title p {
        margin-bottom: 30px;
    }

    .skill-block {
        margin-bottom: 30px;
    }


    .skill .section-title p {
        font-size: 13px;
    }

    .skill .note p {
        font-size: 13px;
        margin: 50px 0;
    }

    .nav-item .nav-link {
        display: none;
    }

    .skill {
        padding: 0px;
    }

    .portfolio .resume-text p {
        margin-bottom: 0px;
    }

    .contact .contact-text p {
        margin-bottom: 0px;
    }

    .contact-form .form-intro-text h3 {
        font-size: 24px;
        text-align: center;
    }

    .contact-form .form-intro-text p {
        font-size: 15px;
        text-align: center;
    }

    .contact-form .send-button {
        font-size: 10px;
    }

    .contact-sidebar {
        padding: 30px 22px;
        margin: 35px 0px 0px 0px;
    }

    .contact-sidebar .contact-header h3 {
        font-size: 22px;
        text-align: center;
    }

    .contact-sidebar .contact-header p {
        font-size: 14px;
        text-align: center;
    }

    .contact-sidebar .contact-process .contact-text p {
        font-size: 13px;
    }

    .contact-sidebar .contact-process .contact-text h3 {
        font-size: 13px;
    }

    .contact {
        padding: 0px;
    }

    .footer {
        background-color: #ffffff;
        padding: 22px;
    }

    .footer .copyright-text h2 {
        font-size: 13px;
    }

    .footer .social-links-connect a i {
        font-size: 14px;
        padding: 5px 9px;
    }

}





/* 576 dekhbi */
@media only screen and (max-width:600px) {
    .intro-text h1 {
        font-size: 14px;
    }

    .hero .display-heading {
        font-size: 20px;
    }

    .hero {
        padding: 20px 0px;
    }

    .navbar-toggler-icon {
        width: 16px;
        height: 30px;
    }

    .hero .meta .meta-item span {
        font-size: 14px;
    }

    .hero .intro-text .cta-buttons .btn-work {
        font-size: 13px;
    }

    .about {
        padding: 10px 0px;
    }

    .about .facts-wrap {
        margin-top: 40px;
    }

    .about .section-title p {
        margin-bottom: 50px;
    }

    .about .intro-content h2 {
        text-align: center;
    }

    .about .intro-content h3 {
        font-size: 20px;
        text-align: center;
    }

    .about .intro-content p {
        font-size: 13px;
        line-height: 1.4;
        text-align: center;
    }

    .about .intro-content .content-text {
        font-size: 14px;
        color: #201e1e;
        font-weight: 400;
        line-height: 1.4;
    }

    .intro-content .cta-group .btn-ghost {
        padding: 14px 15px;
        font-size: 14px;
        gap: 5px;
    }

    .intro-content .cta-group .link-underline {
        font-size: 14px;
    }

    .hero .intro-text .cta-buttons .link-underline {
        font-size: 13px;
    }

    .about .skills-wrap .skill-item {
        padding: 35px 15px;
        margin: 15px 0px;
        text-align: center;
        margin: 20px 0px;
    }

    .about .personal-quote p {
        font-size: 15px;
    }

    .skill .section-title h2 {
        font-size: 26px;
        margin-top: 30px;
    }

    .skill .section-title p {
        margin-bottom: 30px;
    }

    .skill-block {
        margin-bottom: 30px;
    }


    .skill .section-title p {
        font-size: 13px;
    }

    .skill .note p {
        font-size: 13px;
        margin: 50px 0;
    }

    .nav-item .nav-link {
        display: none;
    }

    .skill {
        padding: 0px;
    }

    .portfolio .resume-text p {
        margin-bottom: 0px;
    }

    .contact .contact-text p {
        margin-bottom: 0px;
    }

    .contact-form .form-intro-text h3 {
        font-size: 24px;
        text-align: center;
    }

    .contact-form .form-intro-text p {
        font-size: 15px;
        text-align: center;
    }

    .contact-form .send-button {
        font-size: 10px;
    }

    .contact-sidebar {
        padding: 30px 22px;
        margin: 35px 0px 0px 0px;
    }

    .contact-sidebar .contact-header h3 {
        font-size: 22px;
        text-align: center;
    }

    .contact-sidebar .contact-header p {
        font-size: 14px;
        text-align: center;
    }

    .contact-sidebar .contact-process .contact-text p {
        font-size: 13px;
    }

    .contact-sidebar .contact-process .contact-text h3 {
        font-size: 13px;
    }

    .contact {
        padding: 0px;
    }

    .footer {
        background-color: #ffffff;
        padding: 22px;
    }

    .footer .copyright-text h2 {
        font-size: 13px;
    }

    .footer .social-links-connect a i {
        font-size: 14px;
        padding: 5px 9px;
    }

}





/* 481 dekhbi */
@media only screen and (max-width:575px) {
    .intro-text h1 {
        font-size: 14px;
    }

    .hero .display-heading {
        font-size: 20px;
    }

    .hero {
        padding: 20px 0px;
    }

    .navbar-toggler-icon {
        width: 16px;
        height: 30px;
    }

    .hero .meta .meta-item span {
        font-size: 14px;
    }

    .hero .intro-text .cta-buttons .btn-work {
        font-size: 13px;
    }

    .about {
        padding: 10px 0px;
    }

    .about .facts-wrap {
        margin-top: 40px;
    }

    .about .section-title p {
        margin-bottom: 50px;
    }

    .about .intro-content h2 {
        text-align: center;
    }

    .about .intro-content h3 {
        font-size: 20px;
        text-align: center;
    }

    .about .intro-content p {
        font-size: 13px;
        line-height: 1.4;
        text-align: center;
    }

    .about .intro-content .content-text {
        font-size: 14px;
        color: #201e1e;
        font-weight: 400;
        line-height: 1.4;
    }

    .intro-content .cta-group .btn-ghost {
        padding: 14px 15px;
        font-size: 14px;
        gap: 5px;
    }

    .intro-content .cta-group .link-underline {
        font-size: 14px;
    }

    .hero .intro-text .cta-buttons .link-underline {
        font-size: 13px;
    }

    .about .skills-wrap .skill-item {
        padding: 35px 15px;
        margin: 15px 0px;
        text-align: center;
        margin: 20px 0px;
    }

    .about .personal-quote p {
        font-size: 15px;
    }

    .skill .section-title h2 {
        font-size: 26px;
        margin-top: 30px;
    }

    .skill .section-title p {
        margin-bottom: 30px;
    }

    .skill-block {
        margin-bottom: 30px;
    }


    .skill .section-title p {
        font-size: 13px;
    }

    .skill .note p {
        font-size: 13px;
        margin: 50px 0;
    }

    .nav-item .nav-link {
        display: none;
    }

    .skill {
        padding: 0px;
    }

    .portfolio .resume-text p {
        margin-bottom: 0px;
    }

    .contact .contact-text p {
        margin-bottom: 0px;
    }

    .contact-form .form-intro-text h3 {
        font-size: 24px;
        text-align: center;
    }

    .contact-form .form-intro-text p {
        font-size: 15px;
        text-align: center;
    }

    .contact-form .send-button {
        font-size: 10px;
    }

    .contact-sidebar {
        padding: 30px 22px;
        margin: 35px 0px 0px 0px;
    }

    .contact-sidebar .contact-header h3 {
        font-size: 22px;
        text-align: center;
    }

    .contact-sidebar .contact-header p {
        font-size: 14px;
        text-align: center;
    }

    .contact-sidebar .contact-process .contact-text p {
        font-size: 13px;
    }

    .contact-sidebar .contact-process .contact-text h3 {
        font-size: 13px;
    }

    .contact {
        padding: 0px;
    }

    .footer {
        background-color: #ffffff;
        padding: 22px;
    }

    .footer .copyright-text h2 {
        font-size: 13px;
    }

    .footer .social-links-connect a i {
        font-size: 14px;
        padding: 5px 9px;
    }

}





/* 421 dekhbi */
@media only screen and (max-width:480px) {
    .intro-text h1 {
        font-size: 14px;
    }

    .hero .display-heading {
        font-size: 20px;
    }

    .hero {
        padding: 20px 0px;
    }

    .navbar-toggler-icon {
        width: 16px;
        height: 30px;
    }

    .hero .meta .meta-item span {
        font-size: 14px;
    }

    .hero .intro-text .cta-buttons .btn-work {
        font-size: 12px;
    }

    .about {
        padding: 10px 0px;
    }

    .about .facts-wrap {
        margin-top: 40px;
    }

    .about .section-title p {
        margin-bottom: 50px;
    }

    .about .intro-content h2 {
        text-align: center;
    }

    .about .intro-content h3 {
        font-size: 20px;
        text-align: center;
    }

    .about .intro-content p {
        font-size: 13px;
        line-height: 1.4;
        text-align: center;
    }

    .about .intro-content .content-text {
        font-size: 14px;
        color: #201e1e;
        font-weight: 400;
        line-height: 1.4;
    }

    .intro-content .cta-group .btn-ghost {
        padding: 14px 15px;
        font-size: 14px;
        gap: 5px;
    }

    .intro-content .cta-group .link-underline {
        font-size: 14px;
    }

    .about .skills-wrap .skill-item {
        padding: 35px 15px;
        margin: 15px 0px;
        text-align: center;
        margin: 20px 0px;
    }

    .about .personal-quote p {
        font-size: 15px;
    }

    .skill .section-title h2 {
        font-size: 26px;
        margin-top: 30px;
    }

    .skill .section-title p {
        margin-bottom: 30px;
    }

    .skill-block {
        margin-bottom: 30px;
    }


    .skill .section-title p {
        font-size: 13px;
    }

    .skill .note p {
        font-size: 13px;
        margin: 50px 0;
    }

    .nav-item .nav-link {
        display: none;
    }

    .skill {
        padding: 0px;
    }

    .portfolio .resume-text p {
        margin-bottom: 0px;
    }

    .contact .contact-text p {
        margin-bottom: 0px;
    }

    .contact-form .form-intro-text h3 {
        font-size: 24px;
        text-align: center;
    }

    .contact-form .form-intro-text p {
        font-size: 15px;
        text-align: center;
    }

    .contact-form .send-button {
        font-size: 10px;
    }

    .contact-sidebar {
        padding: 30px 22px;
        margin: 35px 0px 0px 0px;
    }

    .contact-sidebar .contact-header h3 {
        font-size: 22px;
        text-align: center;
    }

    .contact-sidebar .contact-header p {
        font-size: 14px;
        text-align: center;
    }

    .contact-sidebar .contact-process .contact-text p {
        font-size: 13px;
    }

    .contact-sidebar .contact-process .contact-text h3 {
        font-size: 13px;
    }

    .contact {
        padding: 0px;
    }

    .footer {
        background-color: #ffffff;
        padding: 22px;
    }

    .footer .copyright-text h2 {
        font-size: 13px;
    }

    .footer .social-links-connect a i {
        font-size: 14px;
        padding: 5px 9px;
    }


}





/* 351 dekhbi */
@media only screen and (max-width:420px) {
    .intro-text h1 {
        font-size: 14px;
    }

    .hero .display-heading {
        font-size: 20px;
    }

    .hero {
        padding: 20px 0px;
    }

    .navbar-toggler-icon {
        width: 16px;
        height: 30px;
    }

    .hero .meta .meta-item span {
        font-size: 14px;
    }


    .about {
        padding: 10px 0px;
    }

    .about .facts-wrap {
        margin-top: 40px;
    }

    .about .section-title p {
        margin-bottom: 50px;
    }

    .about .intro-content h2 {
        text-align: center;
    }

    .about .intro-content h3 {
        font-size: 20px;
        text-align: center;
    }

    .about .intro-content p {
        font-size: 13px;
        line-height: 1.4;
        text-align: center;
    }

    .about .intro-content .content-text {
        font-size: 14px;
        color: #201e1e;
        font-weight: 400;
        line-height: 1.4;
    }

    .intro-content .cta-group .btn-ghost {
        padding: 14px 15px;
        font-size: 14px;
        gap: 5px;
    }

    .intro-content .cta-group .link-underline {
        font-size: 14px;
    }

    .about .skills-wrap .skill-item {
        padding: 20px 15px;
        margin: 15px 0px;
        text-align: center;
        margin: 20px 0px;
    }

    .about .personal-quote p {
        font-size: 20px;
    }

    .skill .section-title h2 {
        font-size: 26px;
        margin-top: 30px;
    }

    .skill .section-title p {
        margin-bottom: 30px;
    }

    .skill-block {
        margin-bottom: 30px;
    }


    .skill .section-title p {
        font-size: 13px;
    }

    .skill .note p {
        font-size: 13px;
        margin: 50px 0;
    }

    .nav-item .nav-link {
        display: none;
    }

    .skill {
        padding: 0px;
    }

    .portfolio .resume-text p {
        margin-bottom: 0px;
    }

    .contact .contact-text p {
        margin-bottom: 0px;
    }

    .contact-form .form-intro-text h3 {
        font-size: 24px;
        text-align: center;
    }

    .contact-form .form-intro-text p {
        font-size: 15px;
        text-align: center;
    }

    .contact-form .send-button {
        font-size: 10px;
    }

    .contact-sidebar {
        padding: 30px 22px;
        margin: 35px 0px 0px 0px;
    }

    .contact-sidebar .contact-header h3 {
        font-size: 22px;
        text-align: center;
    }

    .contact-sidebar .contact-header p {
        font-size: 14px;
        text-align: center;
    }

    .contact-sidebar .contact-process .contact-text p {
        font-size: 13px;
    }

    .contact-sidebar .contact-process .contact-text h3 {
        font-size: 13px;
    }

    .contact {
        padding: 0px;
    }

    .footer {
        background-color: #ffffff;
        padding: 22px;
    }

    .footer .copyright-text h2 {
        font-size: 13px;
    }

    .footer .social-links-connect a i {
        font-size: 14px;
        padding: 5px 9px;
    }

}






/* 301 dekhbi */
@media only screen and (max-width:350px) {
    .intro-text h1 {
        font-size: 14px;
    }

    .hero .display-heading {
        font-size: 20px;
    }

    .hero {
        padding: 20px 0px;
    }

    .navbar-toggler-icon {
        width: 16px;
        height: 30px;
    }

    .about {
        padding: 10px 0px;
    }

    .about .facts-wrap {
        margin-top: 40px;
    }

    .about .section-title p {
        margin-bottom: 50px;
    }

    .about .intro-content h2 {
        text-align: center;
    }

    .about .intro-content h3 {
        font-size: 20px;
        text-align: center;
    }

    .about .intro-content p {
        font-size: 13px;
        line-height: 1.4;
        text-align: center;
    }

    .about .intro-content .content-text {
        font-size: 14px;
        color: #201e1e;
        font-weight: 400;
        line-height: 1.4;
    }

    .intro-content .cta-group .btn-ghost {
        padding: 14px 15px;
        font-size: 10px;
        gap: 5px;
    }

    .intro-content .cta-group .link-underline {
        font-size: 12px;
    }

    .about .skills-wrap .skill-item {
        padding: 20px 15px;
        margin: 15px 0px;
        text-align: center;
        margin: 20px 0px;
    }

    .about .personal-quote p {
        font-size: 20px;
    }

    .skill .section-title h2 {
        font-size: 26px;
        margin-top: 30px;
    }

    .skill .section-title p {
        margin-bottom: 30px;
    }

    .skill-block {
        margin-bottom: 30px;
    }


    .skill .section-title p {
        font-size: 13px;
    }

    .skill .note p {
        font-size: 13px;
        margin: 50px 0;
    }

    .nav-item .nav-link {
        display: none;
    }

    .skill {
        padding: 0px;
    }

    .portfolio .resume-text p {
        margin-bottom: 0px;
    }

    .contact .contact-text p {
        margin-bottom: 0px;
    }

    .contact-form .form-intro-text h3 {
        font-size: 24px;
        text-align: center;
    }

    .contact-form .form-intro-text p {
        font-size: 15px;
        text-align: center;
    }

    .contact-form .send-button {
        font-size: 10px;
    }

    .contact-sidebar {
        padding: 30px 22px;
        margin: 35px 0px 0px 0px;
    }

    .contact-sidebar .contact-header h3 {
        font-size: 22px;
        text-align: center;
    }

    .contact-sidebar .contact-header p {
        font-size: 14px;
        text-align: center;
    }

    .contact-sidebar .contact-process .contact-text p {
        font-size: 13px;
    }

    .contact-sidebar .contact-process .contact-text h3 {
        font-size: 13px;
    }

    .contact {
        padding: 0px;
    }

    .footer {
        background-color: #ffffff;
        padding: 22px;
    }

    .footer .copyright-text h2 {
        font-size: 13px;
    }

    .footer .social-links-connect a i {
        font-size: 14px;
        padding: 5px 9px;
    }
}


/*breakpoints
1440px
1366px
1199px
1024px
991px
900px
767px
600px
575px
480px
420px
350px
300px*/